<!DOCTYPE html>
<html>
<head>
    <title>Pattern</title>
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/pattern.js"></script>
</head>
<body>
<div>
    <form id="form" action="/pattern" method="post">
        <div id="input" style="margin-bottom: 32px">
            input:
            <textarea id="input_text" name="input" style="width: 512px;height: 192px"></textarea>
        </div>
        <div id="output" style="margin-bottom: 32px">
            output:
            <textarea id="output_text" name="output" style="width: 512px;height: 192px"></textarea>
        </div>
        <button id="query">query</button>
        <button id="update">update</button>
        <button id="delete">delete!</button>
    </form>
</div>
</body>
</html>